<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="register-form">
        <%= form_for @blog, html: {role: "form"} do |f| %>
            <div class="form-group">
                  <%= f.label :title, for: "InputBlogTitle" %><sup>*</sup>
                  <%= f.text_field :title, class: "form-control", id: "InputBlogTitle" %>
            </div>
            <div class="form-group">
                  <%= f.label :intro, for: "InputBlogIntro" %><sup>*</sup>
                  <%= f.text_area :intro, rows: 3, class: "form-control", id: "InputBlogIntro" %>
            </div>
            <div class="form-group">
                  <%= f.label :image, for: "InputBlogImage" %>
                  <%= f.text_field :image, class: "form-control", id: "InputBlogImage" %>
            </div>
            <div class="form-group">
                  <%= f.label :body, for: "InputBlogBody" %><sup>*</sup>
                  <%= f.text_area :body, class: "form-control", rows: 15, id: "InputBlogBody" %>
            </div>
            <div class="form-group">
                  <%= f.label :released, for: "InputBlogReleased" %>
                  <%= f.check_box :released, class: "form-control", id: "InputBlogReleased" %>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
                </div>
            </div>
        <% end %>
      </div>
    </div> <!-- col-md-6 -->
  
  </div>
</div> <!-- container -->

