<header class="page-title">
    <div class="container">
            <div class="col-md-8">
                <h1>Blog</h1>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="input-append">
                      <%= form_tag search_blogs_path, method: 'get' do %>
                        <%= text_field_tag :q, params[:q], size:30, placeholder: "Search...", class: "span2" %>

                        <%= button_tag class: "btn btn-primary" do %>
                            <i class="fa fa-search"></i>
                        <% end %>

                      <% end %>
                    </div><!-- /input-group -->
                </div>
            </div> <!-- col-md-4 -->
    </div> <!-- container -->
</header>

<div class="container">
     <div class="row">
        <div class="col-md-12">
            <section class="single">
                <% if can? :manage, @blog %>
                <p>
                    <%= link_to "Edit", edit_blog_path(@blog), class: 'btn btn-primary btn-mini' %>
                    <%= link_to 'New', new_blog_path, class: 'btn btn-primary btn-mini' %>
                </p>
                <% end %>
                <div class="row">
                    <div class="col-lg-2">
                        <% if @blog.image.file %>
                          <%= image_tag(@blog.image.url, class: "img-responsive") %>
                        <% end %>
                    </div>
                    <div class="col-lg-7">
                        <h1><%= @blog.title %></h1>

                        <div class="single-info">
                            <span class="date"><i class="fa fa-clock-o"></i> <%= @blog.created_at %></span> | <span class="author"><i class="fa fa-user"></i> Jennifer Nelson</span>
                            <span class="num-comments"> | <i class="fa fa-comments"></i><%= pluralize(@comments.count, 'Comments') %></span>
                        </div>
                    </div>
                </div>
                    


                <% if @blog.intro %>
                  <p><%= markdown @blog.intro %></p>
                <% end %>

                <% if @blog.body %>
                  <p><%= markdown @blog.body %></p>
                <% end %>

            </section> <!-- single -->
            <h2 class="section-title js-comments-count"><%= @comments.count %> Comments</h2>

            <% if can? :create, Comment %>
                <section class="comment-form">
                    <div class="js-new-comment">
                        <%= render partial: 'comments/form', locals: { blog: @blog, comment: @comment } %>
                    </div>
                </section>
            <% end %>

            <section class="comments">
                <div class="js-comments">
                    <% if @comments.count > 0 %>
                        <%= render partial: 'comments/comment', collection: @comments, locals: { blog: @blog } %>   
                    <% end %>
                </div>              
            </section> <!-- comments -->


        </div> <!-- col-md-8 -->

    </div> <!-- row -->
</div> <!-- container -->

