<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="register-form">
                <%= form_for(@user) do |f| %>
                    <div class="form-group">
                        <%= f.label :name, for:"InputUserName" %><sup>*</sup>
                        <%= f.text_field :name, class: "form-control", id: "InputUserName" %>
                    </div>

                    <div class="form-group">
                        <%= f.label :email, for:"InputEmail" %><sup>*</sup>
                        <%= f.email_field :email, class: "form-control", id: "InputEmail" %>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <%= f.label :password, for: "InputPassword" %><sup>*</sup>
                                <%= f.password_field :password, class: "form-control", id: "InputPassword" %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <%= f.label :password_confirmation, for: "InputConfirmPassword" %><sup>*</sup>
                                <%= f.password_field :password_confirmation, class: "form-control", id: "InputConfirmPassword" %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <%= f.submit "Register", class: "btn btn-primary pull-right" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div> <!-- col-md-6 -->
        <div class="col-md-6">
            <div class="register-terms">
                <h2>Become a Member!</h2>
                <p>Becoming a member of this blog site is free, and you get the following benefits:</p>
                <ol>
                    <li>Make comments on the blog posts, and on other member's comments.</li>
                    <li>Get notified when new blogs are posted.</li>
                </ol>
                <p>To sign up, enter the information on the form to the left, click "Register", and then a confirmation email will be automatically sent to your email address.  Click on the link in the confirmation email, and your registration will be complete.
            </div>
        </div> <!-- col-md-6 -->
    </div>
</div> <!-- container -->
