
<!-- Home Carousel -->
<section id="home-carousel" class="home-section">
    <div class="wrap-pattern">
        <div class="container">
            <div id="carousel-home" class="carousel slide" data-ride="carousel"  data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-home" data-slide-to="1"></li>
                    <li data-target="#carousel-home" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-caption">
                                    <h2>Clean, Beautiful and Multicolor Responsive Theme</h2>
                                    <p>Lorem ipsum Nostrud ad nulla est in consequat ad magna reprehenderit minim minim irure aute commodo aliquip laborum ad sint Ut dolor et in do cupidatat veniam laborum dolor elit in ullamco eu ad Ut in.</p>
                                    <a href="#" class="btn btn-primary">Live Preview</a>
                                    <a href="#" class="btn btn-success">Purchase now</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <%= image_tag("iphone.png", class: "img-responsive", alt: "Image") %>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-caption">
                                    <h2>Over 40 different style combinations</h2>
                                    <p>Lorem ipsum Nostrud ad nulla est in consequat ad magna reprehenderit minim minim irure aute commodo aliquip laborum ad sint Ut dolor et in do cupidatat veniam laborum dolor elit in ullamco eu ad Ut in.</p>
                                    <a href="#" class="btn btn-transparent">Purchase now</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <%= image_tag("ipad.png", class: "img-responsive", alt: "Image") %>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel-caption">
                                    <h2>Promote your app like you've never done</h2>
                                    <p>Lorem ipsum Nostrud ad nulla est in consequat ad magna reprehenderit minim minim irure aute commodo aliquip laborum ad sint Ut dolor et in do cupidatat veniam laborum dolor elit in ullamco eu ad Ut in.</p>
                                    <a href="#" class="btn btn-transparent">Purchase now</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <%= image_tag("2x.png", class: "img-responsive", alt: "Image") %>
                            </div>
                        </div>
                    </div>
                </div> <!-- carousel-inner -->
            </div> <!-- carousel-home -->
        </div> <!-- container -->
    </div> <!-- wrap-pattern -->
</section> <!--  home-carousel -->


<!-- Home Features -->
<section id="home-features" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <article class="home-features-item hover">
                    <div class="item-icon">
                        <i class="fa fa-dropbox"></i>
                    </div>
                    <div class="item-content">
                        <h3>Lorem ipsum mollit sunt.</h3>
                        <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur aliquip eu sed voluptate consequat sunt aute aliqua exercitation minim cupidatat.</p>
                        <p>Lorem ipsum Ut dolor et anim occaecat ex aliquip esse labore fugiat in do magna dolore pariatur eiusmod irure officia.</p>
                        <a href="#" class="btn btn-transparent pull-right">Read more</a>
                    </div>
                </article> <!-- home-features-item -->
            </div>
            <div class="col-sm-4">
                <article class="home-features-item hover">
                    <div class="item-icon">
                        <i class="fa fa-cloud-download"></i>
                    </div>
                    <div class="item-content">
                        <h3>Lorem ipsum mollit sunt.</h3>
                        <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur aliquip eu sed voluptate consequat sunt aute aliqua exercitation minim cupidatat.</p>
                        <p>Lorem ipsum Ut dolor et anim occaecat ex aliquip esse labore fugiat in do magna dolore pariatur eiusmod irure officia.</p>
                        <a href="#" class="btn btn-transparent pull-right">Read more</a>
                    </div>
                </article> <!-- home-features-item -->
            </div>
            <div class="col-sm-4">
                <article class="home-features-item hover">
                    <div class="item-icon">
                        <i class="fa fa-html5"></i>
                    </div>
                    <div class="item-content">
                        <h3>Lorem ipsum mollit sunt.</h3>
                        <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur aliquip eu sed voluptate consequat sunt aute aliqua exercitation minim cupidatat.</p>
                        <p>Lorem ipsum Ut dolor et anim occaecat ex aliquip esse labore fugiat in do magna dolore pariatur eiusmod irure officia.</p>
                        <a href="#" class="btn btn-transparent pull-right">Read more</a>
                    </div>
                </article> <!-- home-features-item -->
            </div>
        </div> <!--row -->
    </div> <!-- container -->
</section> <!-- home-features -->


<!-- home-slogan -->
<section class="slogan home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="lead">Discover our jobs and the rigorous process of <span>creation</span>. Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>.</p>
            </div>
        </div>
    </div> <!-- container -->
</section> <!-- home-slogan -->


<!-- Home-about -->
<section id="home-about" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 home-about-text">
                <h1 class="section-title">About us</h1>
                <p>Lorem ipsum Velit Ut nulla dolore ut eismod id occaecat in non dolore id sed incididunt ut fugiat consequt pariatur quo cillum nostrud aute aute dolor elit nostrud labore sunt tempor dolor mollit aliquip dolor anim in ocacat.</p>

                <p>Officia magna in labore pariatur estasis ex non culpa ellit voluptate ullamco ullamco quit enim nisi velit tempor im sunt dolor officia voluptate cillum eu quis mollit anim ad veniam quis enim aute do exercitation veniam et officia deserunt sint minim ex dolore pariatur.</p>
            </div> <!-- home-about-test -->

            <div class="col-md-6 home-about-features">
                <h1 class="section-title">Our Vision</h1>
                <div class="about-item">
                    <div class="about-item-icon">
                        <i class="fa fa-suitcase"></i>
                    </div>
                    <div class="about-item-content">
                        <h3>Labore pariatur pariatur</h3>
                        <p>Lorem ipsum Non esse do consectetur id qui eiusmod et ad dolor mollit sed fugiat ut mollit do eiusmod sed do officia consectetur.</p>
                    </div>
                </div> <!-- about-item -->
                <div class="about-item">
                    <div class="about-item-icon">
                        <i class="fa fa-group"></i>
                    </div>
                    <div class="about-item-content">
                        <h3>Magna dolore labore pariatur</h3>
                        <p>Lorem ipsum Non esse do consectetur id qui eiusmod et ad dolor mollit sed fugiat ut mollit do eiusmod sed do officia consectetur.</p>
                    </div>
                </div> <!-- about-item -->
                <div class="about-item">
                    <div class="about-item-icon">
                        <i class="fa fa-signal"></i>
                    </div>
                    <div class="about-item-content">
                        <h3>Aliquip incididunt irure</h3>
                        <p>Lorem ipsum Non esse do consectetur id qui eiusmod et ad dolor mollit sed fugiat ut mollit do eiusmod sed do officia consectetur.</p>
                    </div>
                </div> <!-- about-item -->
            </div> <!-- home-about-features -->
        </div> <!-- row -->
    </div> <!-- cointainer -->
</section> <!-- home-about -->


<!-- Workflow -->
<section id="workflow" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="home-title">Our Workflow</h1>
                <div class="workflow-line">
                    <div class="workflow-item hover">
                        <h2>Analyze</h2>
                        <i class="fa fa-file-text-o"></i>
                        <div class="workflow-caption">
                            <p>Lorem ipsum Laborum consectetur dolor laboris proident sit elit commodo exercitation nulla sunt ut enim labore.</p>
                        </div>
                    </div>
                    <div class="workflow-item hover">
                        <h2>Desing</h2>
                        <i class="fa fa-desktop"></i>
                        <div class="workflow-caption">
                            <p>Lorem ipsum Laborum consectetur dolor laboris proident sit elit commodo exercitation nulla sunt ut enim labore.</p>
                        </div>
                    </div>
                    <div class="workflow-item hover">
                        <h2>Developer</h2>
                        <i class="fa fa-cogs"></i>
                        <div class="workflow-caption">
                            <p>Lorem ipsum Laborum consectetur dolor laboris proident sit elit commodo exercitation nulla sunt ut enim labore.</p>
                        </div>
                    </div>
                    <div class="workflow-item hover">
                        <h2>Revise</h2>
                        <i class="fa fa-edit"></i>
                        <div class="workflow-caption">
                            <p>Lorem ipsum Laborum consectetur dolor laboris proident sit elit commodo exercitation nulla sunt ut enim labore.</p>
                        </div>
                    </div>
                    <div class="workflow-item hover">
                        <h2>Send</h2>
                        <i class="fa fa-dropbox"></i>
                        <div class="workflow-caption">
                            <p>Lorem ipsum Laborum consectetur dolor laboris proident sit elit commodo exercitation nulla sunt ut enim labore.</p>
                        </div>
                    </div>
                </div> <!-- workflow-line -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section> <!-- workflow -->

<!-- home-slogan -->
<section class="slogan home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="lead">Discover our jobs and the rigorous process of <span>creation</span>. Our principles are <span>creativity</span>, <span>design</span>, <span>experience</span> and <span>knowledge</span>.</p>
            </div>
        </div>
    </div> <!-- container -->
</section> <!-- home-slogan -->

<section id="latest-works" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title text-center">Latest Works</h1>
                <div class="row">
                    <div class="col-md-4 col-sm-6 ">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("w1.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Nesciunt you probably labore</h3>
                                <p>Paul Anderson</p>
                                <a class="btn btn-transparent pull-right">Read more</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("w2.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Nesciunt you probably labore</h3>
                                <p>Paul Anderson</p>
                                <a class="btn btn-transparent pull-right">Read more</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("w3.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Nesciunt you probably labore</h3>
                                <p>Paul Anderson</p>
                                <a class="btn btn-transparent pull-right">Read more</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("w4.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Nesciunt you probably labore</h3>
                                <p>Paul Anderson</p>
                                <a class="btn btn-transparent pull-right">Read more</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("w5.jpg", class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Nesciunt you probably labore</h3>
                                <p>Paul Anderson</p>
                                <a class="btn btn-transparent pull-right">Read more</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                    <div class="col-md-4 col-sm-6">
                        <figure class="caption caption-bottom hover">
                            <%= image_tag("w6.jpg",  class: "img-responsive", alt: "Image") %>
                            <figcaption>
                                <h3>Nesciunt you probably labore</h3>
                                <p>Paul Anderson</p>
                                <a class="btn btn-transparent pull-right">Read more</a>
                            </figcaption>
                        </figure>
                    </div> <!-- col-md-4 -->
                </div>
            </div>
        </div> <!-- row -->
    </div>
</section> <!-- latest-works -->


    <div class="container">
        <section class="home-section" id="home-quote">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="section-title">Why choose us?</h1>
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-simple-2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim kefiyeh helvetica.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-simple-2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                        Collapsible Group Item #2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim kefiyeh helvetica.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-simple-2">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                        Collapsible Group Item #3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim kefiyeh helvetica.
                                </div>
                            </div>
                        </div>
                    </div> <!-- panel-group -->
                </div>
                <div class="col-md-6">
                    <h1 class="section-title">What our customers say?</h1>
                    <div id="carousel-clients-say" class="carousel slide carousel-text slide"  data-interval="2500">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                    <div class="carousel-caption">
                                    <blockquote cite="Steve Jobs">
                                        <p>Lorem ipsum Cupidatat ullamco dolor aute sunt exercitation eu proident in officia ea eiusmod velit deserunt culpa amet aliqua culpa ullamco mollit ad tempor deserunt officia adipisicing sit enim pariatur eu ut reprehenderit sed anim dolore culpa.</p>
                                        <small>Steve Jobs, Apple CEO</small>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <blockquote cite="Steve Jobs">
                                        <p>Lorem ipsum Cupidatat ullamco dolor aute sunt exercitation eu proident in officia ea eiusmod velit deserunt culpa amet aliqua culpa ullamco mollit ad tempor deserunt officia adipisicing sit enim pariatur eu ut reprehenderit sed anim dolore culpa.</p>
                                        <small>Steve Jobs, Apple CEO</small>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <blockquote cite="Steve Jobs">
                                        <p>Lorem ipsum Cupidatat ullamco dolor aute sunt exercitation eu proident in officia ea eiusmod velit deserunt culpa amet aliqua culpa ullamco mollit ad tempor deserunt officia adipisicing sit enim pariatur eu ut reprehenderit sed anim dolore culpa.</p>
                                        <small>Steve Jobs, Apple CEO</small>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <blockquote cite="Steve Jobs">
                                        <p>Lorem ipsum Cupidatat ullamco dolor aute sunt exercitation eu proident in officia ea eiusmod velit deserunt culpa amet aliqua culpa ullamco mollit ad tempor deserunt officia adipisicing sit enim pariatur eu ut reprehenderit sed anim dolore culpa.</p>
                                        <small>Steve Jobs, Apple CEO</small>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-caption">
                                    <blockquote cite="Steve Jobs">
                                        <p>Lorem ipsum Cupidatat ullamco dolor aute sunt exercitation eu proident in officia ea eiusmod velit deserunt culpa amet aliqua culpa ullamco mollit ad tempor deserunt officia adipisicing sit enim pariatur eu ut reprehenderit sed anim dolore culpa.</p>
                                        <small>Steve Jobs, Apple CEO</small>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-clients-say" data-slide-to="0" class="active"><%= image_tag("client.jpg", alt: "") %></li>
                            <li data-target="#carousel-clients-say" data-slide-to="1"><%= image_tag("client2.jpg", alt: "") %></li>
                            <li data-target="#carousel-clients-say" data-slide-to="2"><%= image_tag("client3.jpg", alt: "") %></li>
                            <li data-target="#carousel-clients-say" data-slide-to="3"><%= image_tag("client6.jpg", alt: "") %></li>
                            <li data-target="#carousel-clients-say" data-slide-to="4"><%= image_tag("client4.jpg", alt: "") %></li>
                        </ol>
                    </div> <!-- carousel-clients-say -->
                </div> 
            </div>
        </section>

        <section id="home-clientes">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="section-title">Pricing tables</h1>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="pricign-box">
                        <div class="pricing-box-header">
                            <h2>Personal</h2>
                            <p>nisi anim mollit in labore ut esse</p>
                        </div>
                        <div class="pricing-box-price">
                            <h3>$ 50 <sub>/ month</sub> </h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-inbox"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>
                            </ul>
                        </div>
                        <div class="pricing-box-footer">
                            <a href="#" class="btn btn-default">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="pricign-box pricign-box-pro">
                        <div class="pricing-box-header">
                            <h2>Professional</h2>
                            <p>nisi anim mollit in labore ut esse</p>
                        </div>
                        <div class="pricing-box-price">
                            <h3>$ 25 <sub>/ month</sub> </h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-inbox"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>
                            </ul>
                        </div>
                        <div class="pricing-box-footer">
                            <a href="#" class="btn btn-success">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="pricign-box">
                        <div class="pricing-box-header">
                            <h2>Expert</h2>
                            <p>nisi anim mollit in labore ut esse</p>
                        </div>
                        <div class="pricing-box-price">
                            <h3>$ 50 <sub>/ month</sub> </h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-inbox"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>
                            </ul>
                        </div>
                        <div class="pricing-box-footer">
                            <a href="#" class="btn btn-default">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="pricign-box">
                        <div class="pricing-box-header">
                            <h2>Unlimited</h2>
                            <p>nisi anim mollit in labore ut esse</p>
                        </div>
                        <div class="pricing-box-price">
                            <h3>$ 99 <sub>/ month</sub> </h3>
                        </div>
                        <div class="pricing-box-content">
                            <ul>
                                <li><i class="fa fa-inbox"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-cloud-download"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-dashboard"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-sitemap"></i> Exercitation in id in officia.</li>
                                <li><i class="fa fa-shopping-cart"></i> Exercitation in id in officia.</li>
                            </ul>
                        </div>
                        <div class="pricing-box-footer">
                            <a href="#" class="btn btn-default">Order Now</a>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </section>

    </div> <!-- container -->
    

    <section id="home-clients" class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="section-title">Our Clients</h1>

                    <div class="clients-content">
                        <div class="clients-item hover">
                            <div class="clients-item-image">
                                <%= image_tag("nokia.png", class: "img-responsive", alt: "Image") %>
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                        <div class="clients-item">
                            <div class="clients-item-image">
                                <%= image_tag("microsoft.png", class: "img-responsive", alt: "Image") %>
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                        <div class="clients-item">
                            <div class="clients-item-image">
                                <img src="img/sample/intel.png" class="img-responsive" alt="Image">
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                        <div class="clients-item">
                            <div class="clients-item-image">
                                <%= image_tag("sony.png", class: "img-responsive", alt: "Image") %>
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                        <div class="clients-item">
                            <div class="clients-item-image">
                                <%= image_tag("adobe.png", class: "img-responsive", alt: "Image") %>
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                        <div class="clients-item">
                            <div class="clients-item-image">
                                <%= image_tag("hp.png", class: "img-responsive", alt: "Image") %>
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                        <div class="clients-item">
                            <div class="clients-item-image">
                                <%= image_tag("maxis.png", class: "img-responsive", alt: "Image") %>
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                        <div class="clients-item">
                            <div class="clients-item-image">
                                <%= image_tag("samsung.png", class: "img-responsive", alt: "Image") %>
                            </div>
                            <div class="clients-caption">
                                <h4>Microsoft</h4>
                                <p>Lorem ipsum Velit pariatur tempor.</p>
                            </div>
                        </div>
                    </div> <!-- clients-content -->
                </div> <!-- col-md-12 -->
            </div> <!-- row -->
        </div> <!-- container -->   
    </section> <!-- home-clients -->



