<div>
    <section class="page-title">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p></p><h1>PMP Exam Preparation</h1><p></p>
                </div>
            </div>
        </div> <!-- container -->

    </section>

    <section id="pmp-about" class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 home-about-text">
                    <h2 class="section-title">Resources</h2>
                    <p>Jennifer earned her Project Management Professional (PMP)
                      certification in August 2011, and has used the knowledge
                      gained from from her certification to successfully manage
                      numerous multi-million dollar projects.
                      Being passionate about the PMP certification, Jennifer created the following tools and resources to help people who are currently studying for the Project Management Institute's (PMI's) PMP exam. </p>

                </div> <!-- home-about-test -->
            </div> <!-- row -->
        </div> <!-- cointainer -->
    </section> <!-- pmp-about -->

    <div class="container">
        <div class="row">
            <div class="service-item">
                <div class="col-md-6">
                    <h2><%= link_to "Free Download: PMP Formula Cheat Sheet", asset_path("PMPExamFormulaCheatSheet.pdf") %></h2>
                    <p>Download a free cheat sheet of the all the formulas you will need to learn and prepare for the PMP exam!  It is important to take time to learn these formulas, because if you know these formulas, then you will get a good percentage of problems on the PMP exam (the ones that use those formulas) correct.  See below for additional resources and tools from Jennifer for memorizing the PMP Exam formulas.</p>

                </div>
                <div class="col-md-6">
                    <div class="service-item-icon hidden-xs">
                        <a href=<%= asset_path("PMPExamFormulaCheatSheet.pdf") %>><i class="fa fa-download"></i></a>
                    </div>
                </div>
            </div> <!-- service-item -->
        </div> <!-- row -->
        <div class="row">
            <div class="service-item">
                <div class="col-md-6 col-md-push-6">
                    <h2><%= link_to "ebook: Memorize PMP Exam Formulas Using Cartoons", "http://www.amazon.com/dp/B00LWRNNJU/", class: "transicion" %></h2>
                    <p>When she was studying for the PMP exam, Jennifer created a series of cartoons to help her and her coworkers memorize all of the math formulas.  Jennifer's cartoons help to visually etch the formulas into your memory, and they are now available in this ebook!</p>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="service-item-icon hidden-xs">
                        <a href="http://www.amazon.com/dp/B00LWRNNJU/"><i class="fa fa-book"></i></a>
                    </div>
                </div>
            </div> <!-- service-item -->
        </div> <!-- row -->
        <div class="row">
            <div class="service-item">
                <div class="col-md-6">
                    <h2><%= link_to "Free Download: Memorize PMP Formulas Practice Worksheet", asset_path("PMPExamFormulaPracticeSheet.pdf")%></h2>
                    <p>Download this free worksheet to practice writing out all of the PMP exam formulas from memory. This is important preparation for when you take the exam, because at the very beginning of the exam, you should write down all of the formulas on the notepaper they provide you.  Then, as you answer questions on the exam, you will be able to just reference the notepaper for a formula, rather than having to recall formulas from memory.</p>
                </div>
                <div class="col-md-6">
                    <div class="service-item-icon hidden-xs">
                        <a href=<%= asset_path("PMPExamFormulaPracticeSheet.pdf") %>><i class="fa fa-cloud-download"></i></a>
                    </div>
                </div>
            </div> <!-- service-item -->
        </div> <!-- row -->

    </div> <!-- container -->

</div>
