<aside id="bottom-widgets">
    <div class="container">
        <div class="col-md-4">
            <section class="footer-widget">
                <h3>Sitemap</h3>
                <ul class="footer-sitemap two_cols">
                    <li>
                        <%= link_to blogs_path do %>
                            <i class="fa fa-angle-right"></i> Blogs
                        <% end %>
                    </li>
                    <li>
                        <%= link_to about_path do %>
                            <i class="fa fa-angle-right"></i> About
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_contact_path do %>
                            <i class="fa fa-angle-right"></i> Contact
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_user_path do %>
                            <i class="fa fa-angle-right"></i> Register
                        <% end %>
                    </li>
                    <li>
                        <%= link_to login_path do %>
                            <i class="fa fa-angle-right"></i> Login
                        <% end %>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section class="footer-widget">

            </section>
        </div>
        <div class="col-md-4">
            <section class="footer-widget">
                <h3 class="logo"><i class="fa fa-gear"></i> <span>jennifer</span> nelson</h3>
                <address>
                    Phone: 858.705.3201 <br>
                    Fax: 858.673-9031 <br>
                    Email: <a href="mailto:jenniferwnelson@sbcglobal.net">jenniferwnelson@sbcglobal.net</a>
                </address>
                <div class="footer-social">
                    <a href="#" class="i-rss"><i class="fa fa-rss"></i></a>
                    <a href="http://www.twitter.com/jwncoexists" class="i-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.linkedin.com/pub/jennifer-wallick-nelson-pmp/8/840/658/" class="i-linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </section>
        </div>
    </div> <!-- container -->
</aside> <!--bootom-widgets -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>&copy; 2014 <a href="#">Jennifer Nelson</a>, All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> <!-- footer -->