<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ruby on Rails Hacker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
</head>

  <!-- Setting Options -->
  <!-- boxed container -->
  <div class="boxed">

    <!-- Top Nav Bar -->
    <nav class="navbar navbar-inverse navbar-lime navbar-static-top no-margin" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-lime" href="index.html"><i class="fa fa-gear fa-spin fa-2x"></i>ruby on rails <span>hacker</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html">Blog right sidebar</a></li>
                            <li><a href="blog_left.html">Blog left sidebar</a></li>
                            <li><a href="blog_full.html">Blog full</a></li>
                            <li class="divider"></li>
                            <li><a href="single.html">Blog item (Single)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio.html">Portfolio Page</a></li>
                            <li><a href="portfolio_item.html">Portfolio Item</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- navbar-collapse -->
        </div> <!-- container -->
    </nav>


    <%= render 'layouts/messages' %>
    <%= yield %>

    <aside id="bottom-widgets">
        <div class="container">
            <div class="col-md-4">
                <section class="footer-widget">
                    <h3>Sitemap</h3>
                    <ul class="footer-sitemap two_cols">
                        <li><a href="#"><i class="fa fa-angle-right"></i>Home</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Blog</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>About us</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Contact</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Register</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Login</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>FAQ</a></li>
                    </ul>
                </section>
            </div>
            <div class="col-md-4">
                <section class="footer-widget">
                    <h3>Recent Post blog</h3>
                    <div class="media footer-post">
                        <a class="pull-left" href="#">
                            <%= image_url("65.jpg", class: "media-object",  alt: "...") %>
                        </a>
                        <div class="media-body">
                            <a  href="#">Lorem ipsum Aliquip pariatur dolore cillum dolore eiusmod</a>
                            <span class="footer-post-date">December 15, 2013</span>
                        </div>
                    </div> <!-- media -->
                </section>
            </div>
            <div class="col-md-4">
                <section class="footer-widget">
                    <h3 class="logo"><i class="fa fa-gear fa fa-spin"></i> <span>ruby on rails</span> hacker</h3>
                    <address>
                        Phone: 858.705.3201 <br>
                        Fax: 858.673-9031 <br>
                        Email: <a href="mailto:rubyonrailshacker@gmail.com">rubyonrailshacker@gmail.com</a>
                    </address>
                    <div class="footer-social">
                        <h3>Social media</h3>
                        <a href="#" class="i-rss"><i class="fa fa-rss"></i></a>
                        <a href="#" class="i-google"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="i-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="i-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="i-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </section>
            </div>
        </div> <!-- container -->
    </aside> <!--bootom-widgets -->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>&copy; 2014 <a href="#">Jennifer Nelson</a>, inc. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer> <!-- footer -->

    </div> <!-- boxed -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/transicion.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/styleswitcher.js"></script>
    
    <script>
    $(document).ready(function() {
        $('.hover').bind('touchstart', function(e) {
            e.preventDefault();
            $(this).toggleClass('cs-hover');
        });
    });
    </script>

</body>
</html>